SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=teachflow

JWT_SECRET=super-secret-key

JITSI_URL=https://meet.local

JITSI_APP_ID=my_app

JITSI_APP_SECRET=my_secret